.message {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: wheat;
  margin: 10px;
  border-radius: 5px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  padding: 5px;
  border-radius: 999px;
}

.message__info {
  padding-left: 10px;
}
.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
